.navbar{
    background: rgb(0, 33,165);
    transition: 0.25s ease-in;
}

.navbar.scrolled{
    background-color: rgb(0, 33, 165);
}

#navigation-bar{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.25);
}

#navbarResponsive ul li a{
    font-size: 20px;
    padding: 15px;
    /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
    margin-left: 0x;
}

.nav-item{
    position: relative;
}

.nav-item:hover{
    color:white;
}
    
.nav-item:after{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0%;
    border-bottom: 5px solid white;
    transition: 0.3s ease-in-out;
}
    
.nav-item:hover:after {
    width: 100%;
}

h2{
    text-align: center;
    margin-top: 15vw;
    font-family: Roboto;
}