/* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

*/

body{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;

}

/*----------NAVIGATION BAR CSS---------------*/
.navbar{
    background: transparent;
    transition: 0.25s ease-in;
}

.navbar.scrolled{
    background-color: rgb(0, 33, 165);
}

#navigation-bar{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.25);
}

#navbarResponsive ul li a{
    font-size: 20px;
    padding: 15px;
    /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
    margin-left: 0x;
}

.nav-item{
    position: relative;
}

.nav-item:hover{
    color:white;
}
    
.nav-item:after{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0%;
    border-bottom: 5px solid white;
    transition: 0.3s ease-in-out;
}
    
.nav-item:hover:after {
    width: 100%;
}
/*-------------NAVIGATION BAR CSS------------*/




/*------------CAROUSEL CSS------------------*/
.carousel-caption{
    transform: translateX(-17%) translateY(-90%);
    position: absolute;
    text-align: left;
}

.carousel-caption h2{
    font-family: Oswald;
    text-transform: uppercase;
    text-align: center;

    padding: 0px;
    margin: 0px;
    text-align: left;
}

.carousel-indicators{
    padding: 10px;
}

.carousel-indicators li:hover{
    cursor: pointer;
}

.carousel-indicators li{
    margin: 5px;
    width: 50px;
    height: 4px;
}

#slides{
    top: -85px;
}

#smallHeading{
    font-family: Robot 'Regular';
    font-size: 18pt;
    padding-top: 3px;
    padding-bottom: 3px;
    /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
}

#buttonCSS{
    font-family: Oswald;
    font-size: 17px;
    text-transform: uppercase;
}
/*---------------END CAROUSEL CSS----------*/



/*--------------NEWS BAR--------------*/
.news-bar{
    transform: translateY(-85%);
}

.news-bar h1{
        font-family: Oswald;
        text-transform: uppercase;
        text-align: center;
    
        padding: 0px;
        margin: 0px;
        font-size: 50px;
}
/*-------------NEWS BAR--------------*/





/*-------------GALLERY------------------------*/
.conatiner-gallery,
.container-gallery::before,
.container-gallery::after{
    padding: 0;
    box-sizing: border-box;

}

.container-gallery{
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
    background-color: rgb(255, 255, 255);
}

.news-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 4.0rem;
    grid-template-areas: 
        'img-1 img-2 img-3'
}

.news-gallery a{
    width: 100%;
    height: 20rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s;
}

.news-gallery a:hover i,
.news-gallery a:hover::before{
    opacity: 1;

}

.news-gallery .img-1{
    grid-area: img-1;
    background-image: url("images/carouselTestImage1.jpeg");
    box-shadow: inset 0px -100px 30px rgba(0, 0, 0, 0.6);
}

.news-gallery .img-2{
    grid-area: img-2;
    background-image: url("images/OrangeUFHelmetThrowbackUniFinal2wordmarkv2GatorsUnisFinal2.jpg");
    box-shadow: inset 0px -100px 30px rgba(0, 0, 0, 0.6);
}

.news-gallery .img-3{
    grid-area: img-3;
    background-image: url("images/mullencropped1.jpeg");
    box-shadow: inset 0px -100px 30px rgba(0, 0, 0, 0.6);
}

.img-caption{
    position: absolute;
    color: white;
    font-family: 'Roboto';
    font-size: 25pt;
    bottom: 15px;
    left: 15px;
}

.img-sub-caption{
    color: white;
    font-family: 'Roboto';
    font-size: 13pt;
}

/*-------------END GALLERY--------------*/




/*-------------DATABASE GALLERY---------*/
.database-gallery,
.database-gallery::before,
.database-gallery::after{
    padding: 0;
    box-sizing: border-box;

}

.database-gallery{
    width: 100%;
    max-width: 120rem;
    margin-top: 5rem;
    padding: 0 15.0rem;
    background-color: rgb(128, 122, 122);
}

.data-gallery{
    padding: 4.0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0rem;
    grid-template-areas: 
        'img-1 img-1 img-2 img-4'
        'img-1 img-1 img-3 img-4';
}

.data-gallery h3{
    z-index: 100;
    position: absolute;
    color: white;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 75pt;
    transform: translateX(-55%) translateY(5%);
    text-shadow: 5px 5px black;
}

.data-gallery a{
    width: 100%;
    max-height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}


.data-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s;
}

.data-gallery a:hover i,
.data-gallery a:hover::before{
    opacity: 1;

}


.data-gallery .img-1{
    grid-area: img-1;
    background-position: bottom;
    min-height: 50rem;
    background-image: url("images/JerseyUniformDatabaseWebsite.jpg");
}

.data-gallery .img-2{
    grid-area: img-2;
    min-height: 25rem;
    
    background-image: url("images/helmetthird.jpg")
}

.data-gallery .img-3{
    grid-area: img-3;
    min-height: 25rem;
    background-image: url("images/pantsthird.jpg");
}

.data-gallery .img-4{
    grid-area: img-4;
    min-height: 50rem;
    min-width: 25rem;
    background-image: url("images/FullUniformDatabaseWebsite.jpg");
}
/*-----------END DATABASE GALLERY---------*/





/*-------------TWITTER GALLERY----------------*/
.conatiner-twitter-gallery,
.container-twitter-gallery::before,
.container-twitter-gallery::after{
    padding: 10rem;
    box-sizing: border-box;

}

.container-twitter-gallery{
    width: 100%;
    max-width: 120rem;
    margin-top: 5rem;
    padding: 0 10.0rem;
    background-color: rgb(255, 255, 255);
}

.twitter-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    grid-gap: 2.0rem;
    grid-template-areas: 
        'img-1' 'img-2'
}

.twitter-gallery a{
    width: 100%;
    height: 20rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(13, 94, 216, 0.9);
    opacity: 0;
    transition: opacity .5s;
}

.twitter-gallery a:hover i,
.twitter-gallery a:hover::before{
    opacity: 1;

}

.twitter-gallery .img-1{
    grid-area: img-1;
    background-image: url("images/carouselTestImage1.jpeg");
}

.twitter-gallery .img-2{
    grid-area: img-2;
    background-image: url("images/OrangeUFHelmetThrowbackUniFinal2wordmarkv2GatorsUnisFinal2.jpg");
}

/*-----------------------END TWITTER GALLERY---------------*/




/*-----------------------FOOTER-------------------------*/
footer{
    margin-top: 8rem;
    background-color: #222222;
    color: #f7f7f7;
    padding-top: 2rem;
}

#footer-buttonCSS{
    font-family: 'Roboto' serif;
    letter-spacing: 1px;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 2px;
}

#footer-logo img{
    border-right: 3px solid white;
}

.container-fluid h5{
    font-family: 'Roboto' sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 1rem;
}

.container-fluid h6{
    font-size: 20px;
}

#footer-container a{
    color: white;
    font-family: 'Roboto' serif;
}

#footer-container a:hover{
        content: "";
        position: relative;
        left: 0;
        width: 0%;
        border-bottom: 3px solid white;
        transition: 0.3s ease;
}
        
#footer-container:hover:after {
        width: 100%;
    }
/*-----------------------END FOOTER-------------------------*/








/*-------------MEDIA CHANGES----------*/
@media (max-width: 2000px){
    #navbarResponsive{
        font-family: 'Roboto';
        text-transform: uppercase;
        text-decoration: none;
    }
}

@media (max-width: 1324px){
    .carousel-caption{
        top: 70%;
    }

    #bigHeading{
        font-size: 50px;
    }

    .news-gallery{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3.0rem;
        grid-template-areas: 
            'img-1'
            'img-2'
            'img-3'
    }

    .news-gallery a{
        height: 22rem;
    }

    .database-gallery{
        padding: 1.0rem;
    }

    .data-gallery{
        padding: 1.0rem;
    }

    .data-gallery{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        grid-template-areas: 
            'img-1' 'img-2'
            'img-3' 'img-4';
    }

    .database-gallery .img-1, .database-gallery .img-4{
        max-width: 100vw;
        background-size: cover;
    }

    .data-gallery .img-2{
        background-size: cover;
    }

    .data-gallery .img-3{
        background-size: cover;
    }

    .data-gallery .img-4{
        min-width: 0rem;
    }

    .data-gallery h3{
        display: none;
    }


    
}

@media (max-width: 992px){
    .navbar{
        background-color: rgb(0, 33, 165);
    }

    #navbarResponsive{
        text-align: center;
        font-family: 'Roboto';
        text-transform: uppercase;
    }

    .nav-item:after{
        display: none;
    }

    #slides{
        top: 0;
    }

    #navbarResponsive ul li a{
        padding-top: 2px;
    }

    .carousel-caption{
        top: 65%;
    }

    #bigHeading{
        font-size: 60px;
    }

    #smallHeading{
        font-size: 22px;
    }

    #buttonCSS{
        font-size: 12px;
    }

    .news-bar{
        transform: none;
    }

    .news-bar h1{
        padding: 10px;
    }

}

@media (max-width: 768px){

    .carousel-caption{
        top: 66%;
    }

    #bigHeading{
        font-size: 40px;
    }

    #smallHeading{
        font-size: 18px;
    }

    #buttonCSS{
        font-size: 13px;
    }

    .news-bar h1{
        font-size: 40px;
        padding: 15px;
    }

    #footer-logo img{
        border-right: none;
    }

    .col-md{
        text-align: center !important;
    }

}

@media (max-width: 576px){


    .navbar-brand{
        display: none;
    }

    .carousel-caption{
        top: 50%;
    }

    .carousel-indicators li{
        margin: 5px;
        width: 30px;
        height: 2.5px;
    }

    #bigHeading{
        font-size: 20px;
    }

    #smallHeading{
        font-size: 10px;
    }

    #buttonCSS{
        font-size: 7px;
        padding: .3rem;
    }

    .news-bar h1{
        font-size: 25px;
        padding: 10px;
    }

    .news-gallery{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 3.0rem;
        grid-template-areas: 
            'img-1 img-1'
            'img-2 img-2'
            'img-3 img-3'
    }

    .news-gallery a{
        height: 11rem;
    }

    .img-caption{
        font-size: 12pt;
    }

    .img-sub-caption{
        font-size: 8pt;
    }

    .news-gallery .img-1{
        box-shadow: inset 0px -55px 30px rgba(0, 0, 0, 0.75);
    }
    
    .news-gallery .img-2{
        box-shadow: inset 0px -55px 30px rgba(0, 0, 0, 0.75);
    }
    
    .news-gallery .img-3{
        box-shadow: inset 0px -55px 30px rgba(0, 0, 0, 0.75);
    }

}
/*-------------END MEDIA CHANGES---------*/

figure{
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;

}

.fixed-wrap{
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed{
    background-image: url();
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}

[class*="col-"] {
    padding: 1rem;
}